




#random-image{

	animation: fadeinout 20s ease-in infinite;
	}

	@keyframes fadeinout {
  0% {opacity: 0;}
  33% { opacity: 1; }
  66% {opacity: 1}
  100%{ opacity: 0;}
}


img {
	width: 50%;
	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
	z-index: -1;

}

body {
	background: black;
}


.titolo {
color: white;
text-shadow: 0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white; 
font-size: 30pt;
margin: 0px;
}
.titolo:hover{
  text-shadow: 0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white,
  0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;

}

.testo {

color: white;
font-size: 20pt;
text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

#wrapper {
	display: none;
	background: transparent;
	z-index: -1;
	position: absolute;
	top: 50px;
	width: 50%;
}

.sposta{

	transform: translate(65%);
	transition: 1s;
	width: 40%;
}
#divTitolo{
	position: fixed;
	background: black;
	padding: 0px;
	z-index: +1;
}
#eng {
	position: fixed;
	right: 5%;
	top: 1%;
}
#eng:hover {
  
  text-shadow: 0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white,
  0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;


}
#question {
  position: fixed;
  right: 5%;
  top: 10%;
}

#question:hover {

  text-shadow: 0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white,
  0px 0px 5px white, 0px 0px 5px white,0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;



}
#mail {
  display: none;
  position: fixed;
  right: 5%;
  top: 13%;
} 

/* Wobble Vertical */
@keyframes hvr-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
  .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  animation-name: hvr-wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}



.dondolo {
  animation: dondolo infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out ;
  animation-iteration-count: 1;
  animation-delay: 10s;
   }

    @keyframes dondolo {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dondolo {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width: 800px) {
  img {
    width:85%;
  }
  #wrapper {
  width: 75%;
}
#question {
  top: 15%;
}
#mail{
  top: 10%;
  background: white;
  color: black;
  padding: 3px;
}
  .testo {
    font-size: 15pt;
  }
  .titolo {
    font-size: 20pt;
  }
  .sposta{

  transform: translate(65%,80%);
  transition: 1s;
  width: 40%;
}

  }





